<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<div class="row mt-3">
    <div class="col">
        <div class="card">
            <div class="card-header">
                JOIN
            </div>
            <div class="card-body">
                <form th:action="@{/join}" role="form" method="post"  th:object="${MemberJoinDTO}">
                    <div class="input-group mb-3">
                        <label th:for="mid">아이디</label>
                        <input type="text" th:field="*{mid}" name="mid" class="form-control">
                        <p th:if="${#fields.hasErrors('mid')}" th:errors="*{mid}" class="fieldError">Incorrect data</p>
                    </div>

                    <div class="input-group mb-3">
                        <label th:for="mpw">비밀번호</label>
                        <input type="password" th:field="*{mpw}" name="mpw" class="form-control">
                    </div>

                    <div class="input-group mb-3">
                        <label th:for="email">이메일</label>
                        <input type="email" th:field="*{email}" name="email" class="form-control">
                    </div>

                    <div class="my-4">
                        <div class="float-end">
                            <button type="submit" class="btn btn-primary submitBtn">Submit</button>
                            <button type="reset" class="btn btn-secondary">Reset</button>
                        </div>
                    </div>
                </form>
            </div><!--end card body-->

        </div><!--end card-->
    </div><!-- end col-->
</div><!-- end row-->
</body>
</html>